{% extends 'base.html.twig' %}

{% block title %}Table ronde n°{{ table_ronde.id}} - parent{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Table ronde n°{{ table_ronde.id }} | {{ table_ronde.users|length }}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>#</th>
                        <td>{{ table_ronde.id }}</td>
                    </tr>
                    <tr>
                        <th>Tour</th>
                        <td>{{ table_ronde.round }}</td>
                    </tr>
                    <tr>
                        <th>Table</th>
                        <td>{{ table_ronde.tableNumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <a href="{{ path('table_ronde_index') }}"><i class="fal fa-long-arrow-left me-1"></i>Retour</a>
        </div>
    </div>
</div>
{% endblock %}
