{% extends 'base.html.twig' %}

{% block title %}Liste des associations -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-between mb-4">
				<h1>Associations - Liste</h1>
				<div class="d-flex align-items-center">
					<a class="btn btn-primary" href="{{ path('association_new') }}">
						<i class="fal fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card shadow-sm">
					<div class="card-body">
						<div class="table-responsive">
							{% if associations|length > 0 %}
								<table id="association-table" class="table table-bordered m-0">
									<thead>
										<tr>
											<th>#</th>
											<th>Nom</th>
											<th>Nombre de membres ({{ allUsers|length }})</th>
											<th>Vérif %</th>
											<th>Membres par table</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for association in associations %}
											<tr>
												<td>{{ association.id }}</td>
												<td>{{ association.name }}</td>
												<td>{{ association.users|length }}</td>
												<td>{{ ((association.users|length * 100) / allUsers|length)|round }}</td>
												<td>{{ (8 * ((association.users|length * 100) / allUsers|length) / 100)|round(0, 'ceil') }}</td>
												<td>
                                                    <a class="btn btn-outline-success btn-sm" href="{{ path('association_show', {'id': association.id}) }}"><i class="fal fa-eye fa-fw"></i></a>
                                                    <a class="btn btn-outline-warning btn-sm" href="{{ path('association_edit', {'id': association.id}) }}"><i class="fal fa-pen fa-fw"></i></a>
                                                    {{ include('dashboard/association/_delete_form.html.twig') }}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% else %}
								<div class="alert alert-info text-center m-0" role="alert">
									Pas d'enregistrement pour le moment.
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
            $('#association-table').DataTable({
				"order": [[ 2, "desc" ]],
                "pageLength": 500,
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 élément",
                    "sInfoFiltered": "(filtré à partir de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sLast": "Dernier",
                        "sNext": "Suivant",
                        "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },
                    "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        }
                    },
                    "searchPanes": {
                        "clearMessage": "Effacer tout",
                        "count": "{total}",
                        "title": {
                            _: 'Filtres actifs - %d',
                            0: 'Aucun filtre actif',
                            1: '1 filtre actif'
                        },
                        "collapse": {
                            "0": "Volet de recherche",
                            "_": "Volet de recherche (%d)"
                        },
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Pas de volet de recherche",
                        "loadMessage": "Chargement du volet de recherche...",
                        "collapseMessage": "Réduire tout",
                        "showMessage": "Montrer tout"
                    }
                }
            });
        });
	</script>
{% endblock %}
