{% extends 'base.html.twig' %}

{% block title %}Modifier User n°{{ user.id }}{% endblock %}

{% block body %}
    <h1>Modifier | {{ user.firstname }} {{ user.lastname }}</h1>

    {{ include('dashboard/user/_form.html.twig', {'button_label': 'Confirmer la modification'}) }}

    <a href="{{ path('user_index') }}">Retour à la liste</a>

    {{ include('dashboard/user/_delete_form.html.twig') }}
{% endblock %}
