{% extends 'base.html.twig' %}

{% block title %}Nouveau MDP n°{{ user.id }}{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe | {{ user.firstname }} {{ user.lastname }}</h1>

{{ form_start(form) }}
    {{ form_row(form.password) }}

    <button class="btn">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}

    <a href="{{ path('user_index') }}">Retour à la liste</a>

{% endblock %}
